<footer class="blog-footer bg-danger">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li>
          <a target="_blank" title="Instagram" href="https://www.instagram.com/trickysecretz/">
            <i class="fa fa-2x fa-instagram"></i>
          </a>
        </li>
        <li>
          <a target="_blank" title="Twitter" href="https://twitter.com/trickysecretz">
            <i class="fa fa-2x fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <span class="pull-left">© {{@blog.title}} 2015</span>
      </div>
      <div class="col-xs-6 ">
        <a class="pull-right" href="/rss"><img src="/assets/images/feed-icon-14x14.png" class="no-padding"> Subscribe</a>
      </div>
    </div>
  </div>
</footer>
<i class="fa fa-3x fa-chevron-up" id="toTop"></i>
