<nav class="navbar bg-info blog-header-gradient navbar-fixed-top">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <ul class="nav navbar-nav bg-danger">
            {{#foreach navigation}}
               <li class="{{#if current}}active{{/if}} nav-item"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
          </ul>
        </div>
      </nav> <!-- /navbar -->
